* {
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

main{
    display: block;
}

.logo-login-main img {
    margin-top: -5px;
    height: 92px;
    width: auto;
}

.wapper-login .header {
    box-shadow: 0px 1px 5px 2px rgb(191 211 222);
    height: 100px;
    padding: 10px 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center{
    text-align: center;
}

.wapper-login .main-content{
    padding-top: 40px;
    padding-bottom: 120px;
    margin: 0;
    min-height: 500px;
    position: relative;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 13px;
    padding-right: 13px;
    width: 1200px;
}

.hero{
    background: rgba(132, 139, 200, 0.18);
    background-position: 0 137px;
    height: 360px;
    width: 100%;
    float: left;
}

.login-desc-box-l {
    min-height: 350px;
    width: 50%;
}

.pull-left {
    float: left;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.login-app-icons {
    vertical-align: top;
    margin-top: 90px;
    width: 300px;
}

h4.paragraph-header {
    color: #565656;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 15px;
    width: 270px;
}

a {
    text-decoration: none;
}

.col-lg-5 {
    width: 40%;
    float: left;
}

.col-lg-7 {
    width: 60%;
    float: left;
}

.txt-color-red {
    color: #a90329!important;
}

.hero {
    background-repeat: no-repeat;
    background-position: 0 137px;
    height: 360px;
    width: 100%;
    float: left;
    background: white;
}

.csw-btn-button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 35px;
    color: #ffffff !important;
    border-radius: 5px;
    background: #9B6A1D;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
  }
.csw-btn-button:hover {
    background: #292929;
  }

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

label {
    display: inline-block;
}

.form-label, .col-form-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: inherit;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #566a7f;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: inherit;
    line-height: inherit;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.4375rem 1.65rem;
    font-size: 0.9375rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
}
.w-100 {
    width: 100% !important;
}

.d-grid {
    display: grid !important;
}

.btn-primary {
    color: #fff;
    background-color: #696cff;
    border-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-primary:hover {
    color: #fff;
    background-color: #5f61e6;
    border-color: #5f61e6;
    transform: translateY(-1px);
}

.card-body h4, p{
    
    color: #044eb7;
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.card-body p{
    font-size: 18px;
}